RewriteEngine On
RewriteBase /
RewriteRule ^presentation-slides(.*)$ http://talks.lukecod.es$1 [L,R=301]
RewriteRule ^url-redirector(.*)$ http://tools.lukecod.es/url-redirector$1 [L,R=301]
RewriteRule ^meltmediaAddThis(.*)$ http://sandbox.lukecod.es/meltmediaAddThis$1 [L,R=301]